$main-bg-color: #f0efef;
$sec-bg-color: #fefefe;
$third-bg-color: #e9e6e3;
$data-bg-color: #faf8f6;
$courses-bg-color: #fdfdfd;
$detail-color: #22ad96;
$titles-color: #513e5e;
$subtitles-color: #959999;

$titles-fs: 2.2rem;
$text-fs: .8rem;
